:root {
    --color1: #f9fafb;
    --color2: #e5e7eb;
    --color3: #6b7280;
    --shadow: 0 0 3px 1px rgb(189, 189, 189);
    --player : #3b82f6;
    --computer: #8b5cf6;
    --text: #262626;
}
@font-face {
    font-family: calibri;
    src: url(./calibri-regular.ttf);
}
html {
    font-size: 1vh;
    background-color: var(--color1);
    font-family: calibri;
    color: var(--text);
}
html * {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
}
button {
    font-family: calibri;
    color: var(--color1);
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}


/* HEADER */
.header {
    background-color: var(--color1);
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: var(--shadow);
    position: relative;
    z-index: 1;

}
.header svg {
    width: 6rem;
}
.header path {
    fill: var(--text);
}
.header .text {
    font-size: 6rem;;
}

/* MAIN CONTENT */
.main {
    height: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}
.main .game {
    width: min(95vw, 65vh);
    height: min(95vw, 65vh);
    background-color: var(--color1);
    box-shadow: var(--shadow);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* GAME BOARD */
.gameBoard {
    background-color: var(--text);
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;

}
.cell {
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cell.occupied {
    cursor: default;
}
.xo {
    font-weight: bold;
    font-size: max(10rem, 7vw);
    cursor: default;
}

/* FOOTER */
.footer {
    background-color: var(--color1);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4vw;
    padding-right: 4vw;
    box-shadow: 0 0 5px 1px rgb(181, 181, 181);
}
#playBtn {
    height: 50%;
    font-size: 4rem;
    max-width: 400px;
    flex: auto;
    background-color: var(--color3);
    border-radius: 15px;
    border: 2px solid var(--color3);
}
#playBtn:active {
    background-color: var(--color1);
    color: var(--color3);
}



/* GAME OPTIONS */
.options {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.options.active {
    visibility: visible;
}
.optionsBtns {
    width:min(95vw, 50vh);
    height: 30%;
    background-color: var(--color2);
    border-radius: 15px;
    transform:  scale(0);
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: relative;
}
.optionsBtns.active {
    transform: scale(1);
}
.gameModeText {
    font-size: 3rem;
}
.optionsBtns button {
    width: 80%;
    height: 30%;
    font-size: 2.5rem;
    color: var(--color2);
    font-weight: bold;
}
#playerBtn {
    background-color: var(--player);
    border: 2px solid var(--player);
}
#playerBtn:active {
    background-color: var(--color2);
    color: var(--player);
}
#computerBtn {
    background-color: var(--computer);
    border: 2px solid var(--computer);
}
#computerBtn:active {
    background-color: var(--color2);
    color: var(--computer);
}
#closeOptionsBtn {
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: var(--color2);
    border: none;
    color: var(--color3);
    width: min-content;
    height: auto;
    
    font-size: 3rem;
}
#closeOptionsBtn:active {
    font-size: 2.5rem;
}

